<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    'home' %></li>
          <li><%= link_to "Location",    'location' %></li>
          <li><%= link_to "Hostel",    'hostel' %></li>
          <li><%= link_to "Rooms", 'rooms' %></li>
          <li><%= link_to "Prices and Bookings",    'prices_book' %></li>
          <li><%= link_to "Contact Us",    'contact' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
