<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Gorditos Hostel", root_path, id: "logo" %>
      <nav>
        <% if @english_navigation %>
          <ul class="nav pull-right">
            <li><%= link_to "Home",    english_home_path %></li>
            <li><%= link_to "Location",    english_location_path %></li>
            <li><%= link_to "Hostel",    english_hostel_path %></li>
            <li><%= link_to "Rooms", english_rooms_path %></li>
            <li><%= link_to "Prices and Bookings",    english_prices_book_path %></li>
            <li><%= link_to "Contact Us",    english_contact_path %></li>
          </ul>
	<% end %>
	<% if @greek_navigation%>
          <ul class="nav pull-right">
            <li><%= link_to "Αρχική",    english_home_path %></li>
            <li><%= link_to "Τοποθεσία",    english_location_path %></li>
            <li><%= link_to "Ξενώνα",    english_hostel_path %></li>
            <li><%= link_to "Δωμάτια", english_rooms_path %></li>
            <li><%= link_to "Τιμές και Κρατήσεις",    english_prices_book_path %></li>
            <li><%= link_to "Επικοινωνήστε μαζί μας",    english_contact_path %></li>
          </ul>
        <% end %>
      </nav>
    </div>
  </div>
<% if @language_carousel%>
<!-- carousel -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-caption">
      <h1>Choose the Language!</h1>
      <p class="lead">...and enjoy!</p>
      <%= link_to "English", english_home_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Ελληνικά", english_home_path, class: "btn btn-large btn-primary" %>
    </div>
    <div class="item active">
      <img src="images/fondo_crete.jpg" alt="">
    </div>
    <div class="item">
      <img src="images/SAM_1649.JPG" alt="">
    </div>
    <div class="item">
      <img src="images/SAM_1758.JPG" alt="">
    </div>
    <div class="item">
      <img src="images/SAM_1689.JPG" alt="">
    </div>
    <div class="item">
      <img src="images/SAM_1703.JPG" alt="">
    </div>
    <div class="item">
      <img src="images/SAM_1722.JPG" alt="">
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->
<% end %>
</header>
